[buildout]
index = https://packages.lizard.net
extends =
    https://packages.lizard.net/kgs/latest.cfg
find-links =
prefer-final = true
socket-timeout = 1
show-picked-versions = true
extensions =
    mr.developer
parts =
#    sysegg
    test
    omelette
    console_scripts
    sphinx
    pydev
develop = .
eggs =
    serverscripts


[versions]
# Specific pins
serverscripts =

# Reported by buildout.


[sources]
# Examples:
# lizard-ui = git git@github.com:lizardsystem/nensskel.git


# [sysegg]
# # Add eggs here that are best handled through OS-level packages.
# recipe = syseggrecipe
# force-sysegg = true
# eggs =


[test]
recipe = pbp.recipe.noserunner
eggs =
    serverscripts
    serverscripts[test]
defaults = serverscripts


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
dependent-scripts = true
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    createcoverage
    pep8
    pyflakes
    zest.releaser


[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc/source
build = ${buildout:directory}/doc/build
eggs = ${buildout:eggs}


[pydev]
recipe = pb.recipes.pydev
eggs = ${buildout:eggs}
pydevproject_path = ${buildout:directory}/.pydevproject
extra_paths =
